html, body{
    scroll-behavior: smooth;
    padding-bottom: 0px;
    margin-bottom: 0px;
 
    padding-top: 0px;
    margin-top: 0px;
}

.container-fluid {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.PY-5rem { 
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.centralizar {
    text-align: center;
}

p, li {
    font-size: 20px;
}

.cursos{
    background-color: black;
}
.autodefesa{
    background-color: black;
    color: blanchedalmond;
}

.link-sem-estilo, .link-sem-estilo:hover, .link-sem-estilo:link{
    text-decoration:none; 
    color: #000;
}


.FundoClaro{
    background-color:#a5b274; 
}

.FundoEscuro{
    background-color: #778448;
}


nav a{
    color: black;
}

nav a:hover{
    color: #4f5738;
}