.rodape {
    margin-bottom: 0px;
    bottom: 0px;
    /* min-height: 30rem; */
    position: relative;
}
.artigo-footer{
    /* min-height: 30rem; */
    margin-bottom: 0px;
    padding: 2rem 0;
}

.artigo-footer h2, .artigo-footer h3, .artigo-footer p, .artigo-footer li {
    color: #fff;
    font-size: 2rem;
}

.barra-icone{
    display: flex;
    justify-content: center;
}
.icone {
    width: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.icone:hover{
    filter: brightness(1.3);
}